AI_SERVER_BASE_URL=http://127.0.0.1:8000
YOLO_MODEL_PATH=models/ppe-helmet-vest-best.pt
YOLO_CONFIDENCE=0.25
BACKEND_CALLBACK_ENABLED=false
BACKEND_BASE_URL=https://logisquare.p-e.kr
BACKEND_REQUEST_TIMEOUT=15.0
